@model AlterarSenhaModel
@{
    ViewData["Title"] = "Alterar senha";
}
<style>
    .form-container {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 10px; /* opcional: remove o arredondamento se quiser bordas quadradas */
        box-sizing: border-box; /* garante que padding não estoure a largura */
        background-color: rgba(248, 249, 250, 0.75);
    }
    /*
            .custom-border {
                border-bottom: 2px solid black;
                padding: 0.25rem;
            } */

    .form-group-spacing {
        margin-bottom: 2rem; /* Triplo do padrão (~1.33rem) */
    }

    .form-container2 {
        width: 100%;
        margin: 0;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0; /* opcional: remove o arredondamento se quiser bordas quadradas */
        box-sizing: border-box; /* garante que padding não estoure a largura */
        background-color: rgba(248, 249, 250, 0.9);
    }

    #table-usuarios {
        table-layout: auto !important;
        width: auto !important;
    }

        #table-usuarios th,
        #table-usuarios td {
            white-space: nowrap; /* impede quebra de linha */
            font-size: 12px; /* já reduz o tamanho da fonte */
            padding: 4px 8px; /* opcional: deixa a célula mais compacta */
        }

    .icon-mini {
        font-size: 1.05rem; /* ~12px */
    }

    .botao-transparente {
        background-color: transparent;
        border: 1px solid transparent;
        color: black;
    }

        .botao-transparente:hover {
            border-color: black;
            background-color: rgba(0, 0, 0, 0.05);
        }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<div class="text-center">

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }
</div>

<div class="form-container">

    <div class="text-center mb-4">
        <h1 class="fs-3 custom-border d-inline-block">Alterar a minha senha</h1>
    </div>
    <form asp-controller="AlterarSenha" asp-action="Alterar" method="post" class="form-horizontal">
        <div class="row form-group-spacing">
            <label class="col-12 col-sm-2 col-form-label text-sm-end">Senha actual</label>
            <div class="col-12 col-sm-8">
                <input type="password" id="SenhaActual" asp-for="SenhaActual" class="form-control" placeholder="Digite a senha actual" />
                @Html.ValidationMessageFor(x => x.SenhaActual)
            </div>
        </div>

        <div class="row form-group-spacing">
            <label class="col-12 col-sm-2 col-form-label text-sm-end">Nova senha</label>
            <div class="col-12 col-sm-8">
                <input type="password" id="NovaSenha" asp-for="NovaSenha" class="form-control" placeholder="Digite a nova senha" />
                @Html.ValidationMessageFor(x => x.NovaSenha)
            </div>
        </div>

        <div class="row form-group-spacing">
            <label class="col-12 col-sm-2 col-form-label text-sm-end">Confirmar nova senha</label>
            <div class="col-12 col-sm-8">
                <input type="password" id="ConfirmarNovaSenha" asp-for="ConfirmarNovaSenha" class="form-control" placeholder="Confirme a nova senha" />
                @Html.ValidationMessageFor(x => x.ConfirmarNovaSenha)
            </div>
        </div>

        <div class="row form-group-spacing">
            <div class="col-12 col-sm-10 offset-sm-2">
                <input type="checkbox" id="MostrarSenha" /> Mostrar senha
            </div>
        </div>
        <div class="d-flex justify-content-between mt-5">
            <a class="btn btn-outline-dark" asp-controller="Home" asp-action="Index" role="button">Sair da página</a>
            <button type="submit" class="btn btn-dark">Salvar</button>
        </div>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    document.getElementById('MostrarSenha').addEventListener('change', function () {
        const type = this.checked ? 'text' : 'password';
        document.getElementById('SenhaActual').type = type;
        document.getElementById('NovaSenha').type = type;
        document.getElementById('ConfirmarNovaSenha').type = type;
    });
</script>